*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box }

html {
  font-size: 62.5%;
 }


 html, body {
    overflow-x: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  background-color: white;
  box-sizing: border-box; 
  font-size: 1.6rem;
  padding: 0;

}   

.nav-bar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    height: 15rem;
    background-color: #383838;
    color: white;
    font-size: 2rem;
    font-weight: 600;
   
  
}

.nav-link {
    width: 12%;
    margin: auto 3rem;
   
}

.nav-link:last-child {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    background-color: gray;
}

.miss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60rem 60rem;
    color:white;
}

/* Articles   */

.article1 {
    background-color: #777;
}
.article2 {
    background-color: rgb(160, 158, 158);
}

.list {
    list-style: none;
    
}

.article-uls    {
    display: inline-flex;
}
.list {
    margin-right: 10rem;
}



.article-text {
    padding: 15rem 10rem;
}

.miss-header{
    margin-top: 2rem;
    position: absolute;
    color:white;
    left:50%;
    text-align: center;
    transform: translateX(-50%);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.199);
}

.miss-header>h2{
    background-color: #585656;
    padding: 1rem;
}

.article-header{
    font-size: 5rem;
    margin: 2rem 0;
}

.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60rem;
    grid-gap: 1rem;
    margin: 1rem;
}

.news-blog{
    background-color: #727272;
    padding: 3rem;
}
.news-blog:last-child{
    background-color: #b1b1b1;
}
.news-blog>div{
    display: inline;
}
.title{
    margin: .7rem auto 1.5rem auto;
    text-decoration: underline;
}
.author{
    margin-bottom: 2rem;
    
}
.author span{
    text-decoration: underline;
}