*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box }

html {
  font-size: 62.5%;
 }


 html, body {
    overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  background-color: white;
  box-sizing: border-box; 
  font-size: 1.6rem;
  padding: 0;

}   

.nav-bar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    height: 15rem;
    background-color: #383838;
    color: white;
    font-size: 2rem;
    font-weight: 600;
   
  
}

.nav-link {
    width: 12%;
    margin: auto 3rem;
   
}

.nav-link:last-child {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    background-color: gray;
}

.row {
   
}
.article {
    height: 60rem;
    padding: 8rem 10rem;
    border: 1px solid #777;
    float: left;
    width: 50%;
    font-size: 3rem;
    color:white;
    background-color: gray;
}

.comment {
    float: right;
    margin-bottom: 1rem;
    width:5rem;
    height: 2rem;
    background-color: rgb(175, 167, 167);
}

.article-uls {
    display: inline-flex;
}
.list {
    margin-right: 5rem;
    list-style: none;
}

.arrow {
    vertical-align: bottom
}

.col-1-of-4{
    float: left;
    background-color: #a5a4a4;
    width: 25%;
    height: 60rem;
    padding: 3rem 2rem 8rem 4rem;
   
}

.col-2-of-4 {
    float: left;
    background-color: #a5a4a4;
    width: 50%;
    height: 60rem;
    
    
}

.time{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #797878;
}
.title{
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: bold;
    
}
.author{
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: underline;
    color: #616060;
    margin: 2rem auto;
}
.text{
    font-size: 2rem;
    font-weight: lighter;
}
.arrow-back{
    margin-top: 10rem;
    width: 10%;
    background-color: #7e7b7b;
    padding: .8rem;
    margin-right: auto;
}


.col-2-of-3{
    float: left;
    background-color: #a5a4a4;
    width: 66%;
    padding: 1rem;
    border: .5px solid #949494;
}



.fox-image {
    margin: 1rem 25rem;
    height: 20rem;
    filter: grayscale(100%);
}